@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

$fontMain:'Montserrat', sans-serif;
$fontSizeSmall:0.8em;
$fontSizeMedium:1em;
$fontSizeBig:2em;

$fontBold:400;
$fontThin:100;

$fontColorWhite:white;
