
	nav{
			background-image: url(../media/img/fondo.png);
		
	}
	


	ul{
		text-align: center;
	}

	li{
		color: grey;
	}

	a{
		text-decoration: none;
		font-family: $fontMain;
		font-size: $fontSizeMedium;
	}


